body {
    color: #3f3f3f;
    background-image: url(../images/background/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif !important;
}

#type-name {
    color: black;   
}

#night-mode {
    color: black;
    cursor: pointer;
    padding-left: 5px;
}

#night-mode b {
    border: 1px solid black;
    padding: 5px;
}

#night-mode b:hover {
    background-color: black;
    color: white;
}

.light {
    font-weight: 300;
}

#section1 h3 {
    line-height: 1.45;
}

#header {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
}

#footer {
    position: fixed;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    padding: 5px;
    background-color: transparent;
    margin: 0px;
}

#touch-navigation span {
    display: inline;
    margin: 0px 2px;
    cursor: pointer;
}

#touch-navigation-next:hover,
#touch-navigation-previous:hover {
    text-decoration: underline;
}

.menu-style {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95) !important;
}

#nav-toggle-on .fa {
    margin: 10px 10px 0px 0px;
    padding: 5px;
    border: 2px solid rgba(173, 173, 173, 0.25);
}

#nav-toggle-on .fa:hover {
    border: 2px solid black;
}

#nav-toggle-off {
    color: white;
}

#nav-toggle-on,
#nav-toggle-off {
    cursor: pointer;
}

#nav-toggle-off .fa {
    margin: 10px 10px 0px 0px;
    padding: 0px 5px;
    border: 2px solid white;
}

#header ul {
    list-style-type: none;
}

#menu {
    padding: 0px;
}

#menu a {
    color: white;
    font-size: 30px;
    padding: 10px;
}

#menu a:hover {
    border: 1px solid white;
    text-decoration: none;
}

#menu li {
    height: 70px;
}

.vertical-align {
    position: relative;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#section0 {
    padding: 0px 5px;
}

#section0 button {
    padding: 10px 25px;
    letter-spacing: 3px;
    margin: 0px 5px;
    background-color: transparent;
}

#contact-buttons button,
.project-buttons button {
    background-color: transparent;
}

#home-buttons,
.project-buttons {
    margin-top: 20px;
}

.project-buttons button:hover {
    background-color: rgba(173, 173, 173, 0.25);
}

#twitter-button:hover {
    border-color: #55acee;
    color: #55acee;
}

#mail-button {
    margin-top: 15px;
}

#linkedIn-button:hover {
    border-color: #0077b5;
    color: #0077b5;
}

#mail-button:hover {
    border-color: #855439;
    color: #855439;
}

#section0 button:focus,
.project-buttons button:focus,
#contact-buttons button:focus {
    outline: none;
    background-color: transparent;
}

#section0 button:active,
.project-buttons button:active,
#contact-buttons button:active {
    background-color: transparent;
}

#contact-buttons button {
    padding: 10px 25px;
    margin: 20px 5px 0px 5px;
    ;
    letter-spacing: 2px;
    background-color: transparent;
}

#location {
    color: inherit;
}

#location:hover {
    color: black;
    text-decoration: none;
    border-bottom: 2px dotted black;
}

#location:focus {
    text-decoration: none;
}

.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    border-style: none;
}

.fp-controlArrow.fp-prev {
    background: url(../images/64/left-arrow.png) no-repeat;
    width: 64px;
    height: 64px;
    left: 0;
}

.fp-controlArrow.fp-next {
    background: url(../images/64/right-arrow.png) no-repeat;
    width: 64px;
    height: 64px;
    right: 0;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #3f3f3f;
}

.project-image {
    height: 350px;
    width: 350px;
    border: 2px solid rgba(164, 205, 209, 0.8);
}

a:hover {
    text-decoration: none;
}

@media screen and (max-width:481px) {
    .project-image {
        height: 300px;
        width: 300px;
    }
    .fp-controlArrow.fp-prev {
        background: url(../images/32/left-arrow.png) no-repeat;
        width: 32px;
        height: 32px;
        left: 0;
    }
    .fp-controlArrow.fp-next {
        background: url(../images/32/right-arrow.png) no-repeat;
        width: 32px;
        height: 32px;
        right: 0;
    }
    #slide0 h1 {
        margin-top: -30px;
    }
    h3 {
        font-size: 20px;
    }
    #section1 h3 {
        font-size: 17px;
    }
    #fp-nav {
        visibility: hidden;
    }
}

@media screen and (min-width:801px) {
    #slide0 h1 {
        letter-spacing: 10px;
    }
    #type-name {
        font-size: 50px;
    }
}

@media screen and (max-width:801px) {
    #fp-nav {
        display: none;
    }
    #section0 button,
    #contact-buttons button {
        border-color: black;
    }
    #nav-toggle-on .fa {
        border: 2px solid black;
    }
}

@media screen and (max-width:350px) {
    .project-image {
        height: 80vw;
        width: 80vw;
    }
}