body{
  margin: 0px;
  font-family: 'Cormorant Garamond', serif !important;
}
.no-margin{
  margin: 0px;
  padding: 0px;
}
.wrapper{
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/background-1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card{
  padding: 35px;
  max-width: 80vw;
  max-height: 80vh;
  overflow-x: scroll;
  overflow-y: scroll;
  text-align: center;
  box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
  -o-box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
}
.card-background{
  height: 100%;
  width: 100%;
}
.logo-group .logo{
  margin-left: 15px;
  margin-right: 15px;
}
.logo{
  height: 40px;
  width: 40px;
  margin-bottom: 52px;
}
.night .logo{
  fill: #bfbfbf;
}
.content{
  margin: 20px 50px 0px 50px;
}
h1{
  font-weight: 200;
  color: #191919;
}
.night h1{
  color: #bfbfbf;
}
.job{
  margin: 15px 0px 20px 0px;
}
.button-group{
  align-self: center;
  display: flex;
  justify-content: center;
}
.btn{
  border: 2px solid #191919;
  padding: 10px 20px;
  margin: 20px 10px;
  background: transparent;
  outline: none !important;
  font-size: medium;
  cursor: pointer;
  transition: 0.2s ease-in all;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.night .btn{
  border: 2px solid #bfbfbf;
  color: #bfbfbf;
}
.btn:hover{
  background: #191919;
  color: #FFFFFF;
}
.night .btn:hover{
  background: #bfbfbf;
  color: #191919;
}
.title{
  text-decoration: none;
  color: #191919;
}
.title:hover{
  color: #737373;
}
.night .title{
  color: #bfbfbf;
}
.night .title:hover{
  color: #a6a6a6;
}
@media only screen and (min-width: 768px) {
  .btn{
    width: 125px;
  }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .logo{
      height: 32px;
      width: 32px;
      margin-bottom: 20px;
    }
    .card{
      width: 80vh;
      box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
      padding: 20px;
    }
    .content{
      margin: 10px 20px 0px 20px;
    }
    .title{
      display: inherit;
    }
    h1{
      font-size: 1.2em;
    }
    .hobby{
      font-size: 1em;
      margin-bottom: 10px;
    }
    .btn{
      border-width: 1px;
      padding: 4px;
      font-size: 0.5em;
      margin-top: 10px;
    }
}
